<div class="main">

  <input type="submit" value="情報登録(js)" class="user-js-btn">
  <input type="submit" value="情報登録(Rails)" class="user-rails-btn">

  <%# Javasqriptがメイン %>
  <div class="main-js"></div>

  <%# Railsがメイン %>
  <div class="main-rails">
    <div class="name">
      <p>貴方の名前は？</p>
        <%= form_with url: "/tests", method: :post do |f| %>
          <%= f.text_field :name , id: "name-form" %>
          <%= f.submit '投稿する', class: "next" %>
        <% end %>
    </div>
    <div class="age">
      <p>貴方の年齢は？</p>
      <%= form_with url: "/tests", method: :post do |f| %>
        <%= f.text_field :age , id: "age-form" %>
        <%= f.submit '投稿する', class: "age-next" %>
      <% end %>
    </div>
  </div>
  
</div>
